<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 box">

      <h1 class="text-center">Your Account</h1><br>
      
      <ul>
          <li><%= user.get('email') %></li>
          <li><%= user.get('sc_username') %></li>
      </ul>
      Your Relationships
      <ul>
        <% relationships.each(function(relationship){ %>
          <li>id: <%= relationship.get('id') %> liked_user_id: <%= relationship.get('liked_user_id') %></li>
        <% }); %>
      </ul>
      Your Matches
      <div id="contact">
        <ul>
          <% matches.each(function(match){ %>
            <% if( relationships.findWhere({ liked_user_id: match.id, emailed: true })) { %>
              <div class="emailed" data-id="<%= match.id %>"><li>id: <%= match.get('id') %> email: <%= match.get('email') %></li></div>
            <% } else { %>
              <div class="contactUser" data-id="<%= match.id %>"><li>id: <%= match.get('id') %> email: <%= match.get('email') %></li></div>
            <% } %>
          <% }); %>
        </ul>
      </div>
    </div>
  </div>
</div>