<h1><%= @user.email %> show page</h1>
<ul>
  <li> Soundcloud token: <%= @user.sc_access_token %></li>
  <li> Soundcloud id: <%= @user.sc_id %></li>
</ul>

<%= @player.html_safe %>

<%= link_to "sign out", destroy_user_session_path, :method => :delete %>

