<h2>Sign ahp</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.hidden_field :sc_access_token, value: @new_sc_token %>
  <%= f.hidden_field :sc_id, value: @sc_id %>
  <%= f.hidden_field :sc_username, value: @sc_username %>
  <%= f.hidden_field :sc_permalink, value: @sc_permalink %>
  <%= f.hidden_field :sc_permalink_url, value: @sc_permalink_url %>
  <%= f.hidden_field :sc_uri, value: @sc_uri %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
